<nav class="navbar" id="quickMenu">
    <section class="nav__panel">

        <div class="nav__header">
            <div class="nav__header__hud">
                PLAYER_PROFILE.DAT
                [TIME]
            </div>
            <div class="nav__header__title">
                DAMARLA NEELESH
            </div>
        </div>
        
        <div class="nav__body">
            <div class="nav__list">
                <button class="nav__item">Character_Data (About_Me)</button>
                <button class="nav__item">Missions (Projects)</button>
                <button class="nav__item">Archives (Experiments)</button>
                <button class="nav__item">Field_Notes (Dev_Logs/Blogs)</button>
                <button class="nav__item">Transmission (Contact_Me)</button>
            </div>
        </div>
        <div class="nav__footer">
            <div class="nav__hint">Click to load...</div>
            <div class="nav__close" id="quickMenuClose">[Esc] Close</div>
        </div>
    </section>
</nav>